In [45]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\venkata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: async-generator>=1.10 in c:\users\venkata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\venkata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.1.1)
Requirement already satisfied: idna>=2.0.0; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2.10)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (19.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: sniffio in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.3)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\venkata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: six>=1.4.1 in c:\users\venkata\anaconda3\lib\site-packages (from cryptography>=1.3.4; extra == "secure"->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\venkata\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)

In [46]:
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [47]:
driver = webdriver.Chrome(r"C:\Users\Venkata\Downloads\chromedriver_win32\chromedriver.exe")

In [48]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [49]:
driver.get('https://www.naukri.com/')

In [50]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [51]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [52]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [53]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="30e5c98f-4520-4dc1-89b8-f5dcfaa3c17a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="d2535f52-3360-48eb-b744-f1dd49343704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="247dbe9a-22cf-44d9-bb3f-b592432d86bc")>]

In [54]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:3]

['SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst']

In [55]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="d5fae44b-577a-448c-a22a-bdb5dd9cf255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="01959c2a-4586-4471-82ac-99b6ac75f195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="f508a45d-4bf1-41f2-a5d9-52fa7c61a56a")>]

In [56]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:3]

['Leading US MNC into analytics', 'Bioclinica', 'Shell']

In [57]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="c017eae5-5b16-4f4c-9491-7a9f22f026cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="73757400-439b-4e0a-9960-0cd6aed52ac4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="ee7787f9-0ec2-485c-abf2-6287e8d421f6")>]

In [58]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:3]

['2-7 Yrs', '0-3 Yrs', '10-12 Yrs']

In [59]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="8c323eb8-9244-4db7-a9fc-58a1375cf0be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="e41992c1-f232-4263-8a89-fb7d77b2ee89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2fbe0ceac89b8cdcf43035f50de25dba", element="123b6355-8f9e-4a44-ba5a-d0a324d629ab")>]

In [60]:
for i in locations_tags:
    title=i.text
    locations_list.append(title)
locations_list[0:3]

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [61]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [62]:
print(len(job_titles))

20

In [63]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [69]:
jobs

,title,company,experience_required,location
0,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Data Analyst I,Bioclinica,0-3 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Shell,10-12 Yrs,Bangalore/Bengaluru
3,Lead Data Analyst - Risk Analytics,Gojek,5-11 Yrs,Bangalore/Bengaluru
4,Hiring - Zonal Data Analyst (Off Role) - Opera...,Rupeek,2-7 Yrs,"New Delhi, Bangalore/Bengaluru"
5,Senior Data Analyst,LatentView,3-6 Yrs,"Chennai, Bangalore/Bengaluru"
6,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
7,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
8,Associate Data Analyst,Optum,4-9 Yrs,Bangalore/Bengaluru
9,Denave Hiring Data Analyst Bengaluru Location,Denave India Pvt Ltd.,5-10 Yrs,Bangalore/Bengaluru
10,Immediate Joiner Data Analyst,Capco,7-12 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
11,Denave Hiring Data Analyst Bengaluru Location,Denave India Pvt Ltd.,5-10 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst,Bukuwarung,3-6 Yrs,Bangalore/Bengaluru
13,Data Analyst Sr,Epsilon,5-7 Yrs,Bangalore/Bengaluru
14,Data Analyst,Virtusa,4-7 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
15,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru
16,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
17,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
18,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
19,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."

In [78]:
jobs.iloc[0:10,0:4]

,title,company,experience_required,location
0,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Data Analyst I,Bioclinica,0-3 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Shell,10-12 Yrs,Bangalore/Bengaluru
3,Lead Data Analyst - Risk Analytics,Gojek,5-11 Yrs,Bangalore/Bengaluru
4,Hiring - Zonal Data Analyst (Off Role) - Opera...,Rupeek,2-7 Yrs,"New Delhi, Bangalore/Bengaluru"
5,Senior Data Analyst,LatentView,3-6 Yrs,"Chennai, Bangalore/Bengaluru"
6,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
7,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
8,Associate Data Analyst,Optum,4-9 Yrs,Bangalore/Bengaluru
9,Denave Hiring Data Analyst Bengaluru Location,Denave India Pvt Ltd.,5-10 Yrs,Bangalore/Bengaluru