In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\venkata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\venkata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sortedcontainers in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: sniffio in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.3)
Requirement already satisfied: idna in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\venkata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\venkata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (19.1.0)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.1.1)
Requirement already satisfied: certifi; extra == "secure" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\venkata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\venkata\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\venkata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: six>=1.5.2 in c:\users\venkata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14; extra == "secure"->urllib3[secure,socks]~=1.26->selenium) (1.15.0)

In [3]:
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome(r"C:\Users\Venkata\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [6]:
driver.get('https://www.naukri.com/')

In [7]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [8]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [9]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [10]:
driver.get(url)

In [11]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [24]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="4879f9c4-f104-4c17-ba8c-6e93db21e1f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="9322a72f-8b2c-42dd-a337-b0cd4ebe1e6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="77a4fc18-e9ed-4391-b7c3-6dfb4f7a23b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="65a64a46-f37e-4e1f-aaff-d98ebd9cbfd6")>]

In [25]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Senior Data Scientist',
 'Senior Data Scientist',
 'Staff Engineer Data Scientist',
 'Rolls-Royce Data Labs : Data Scientist']

In [14]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="314631c6-9c80-4d37-9eb2-f2b1fc7a32a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="d89b70b6-fd58-46cc-9201-67ab9870747b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="88563bf0-ad4d-4063-862d-b9587eff3cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="eabbffed-d689-4974-a519-3f9c32391c91")>]

In [15]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['Ericsson Global Services',
 'Gojek',
 'Infineon Technologies Pvt Ltd',
 'Rolls Royce']

In [16]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="033a40c5-c700-4ff1-89a5-85ed78e243e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="19f456b9-1f1c-444f-a7a7-7a35e7446edc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="89f6f3be-118a-4d0c-8a82-f2588b380913")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="a4dd0246-a0f0-4be8-bf4f-fba3feb19f21")>]

In [17]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['10-15 Yrs', '6-12 Yrs', '1-3 Yrs', '3-5 Yrs']

In [18]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="1734fbfd-b006-4201-a414-da53943cf606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="436666ac-a68e-4099-ac61-66dbff1e3dd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="8547bc00-bb8d-4b65-b217-3d58a35ed8fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a01fd484cde232863964d7906fe170e1", element="3c57181f-58e8-484d-a67e-9afc7bd9504b")>]

In [19]:
for i in locations_tags:
    locations=i.text
    locations_list.append(locations)
locations_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [29]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [30]:
jobs

,title,company,experience_required,location
0,Senior Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
1,Senior Data Scientist,Gojek,6-12 Yrs,Bangalore/Bengaluru
2,Staff Engineer Data Scientist,Infineon Technologies Pvt Ltd,1-3 Yrs,Bangalore/Bengaluru
3,Rolls-Royce Data Labs : Data Scientist,Rolls Royce,3-5 Yrs,Bangalore/Bengaluru
4,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru
5,FTE - Regional BI - Data Scientist,Schneider Electric,3-5 Yrs,Bangalore/Bengaluru
6,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru
8,Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
9,Data Scientist,Optum,2-7 Yrs,Bangalore/Bengaluru
10,Principal Data Scientist,Optum,10-20 Yrs,Bangalore/Bengaluru
11,Analytics - Data Scientist,Schneider Electric,5-7 Yrs,Bangalore/Bengaluru
12,Data Scientist,Applied Materials,0-3 Yrs,Bangalore/Bengaluru
13,Senior Data Scientist - Python/Deep Learning A...,SuccessR Hrtech Pvt Ltd,5-10 Yrs,Bangalore/Bengaluru
14,Senior Data Scientist,Bukuwarung,3-7 Yrs,Bangalore/Bengaluru
15,Senior Data Scientist,Scienaptic Systems,5-9 Yrs,Bangalore/Bengaluru
16,Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,3-6 Yrs,Bangalore/Bengaluru
17,Senior Data Scientist - SQL/Python/Numpy,Serving Skill,2-6 Yrs,Bangalore/Bengaluru
18,Senior Data Scientist (Fintech),TalentStack,9-12 Yrs,Bangalore/Bengaluru
19,Lead Data Scientist,Groww,5-8 Yrs,Bangalore/Bengaluru

In [31]:
jobs.iloc[0:10,0:4]

,title,company,experience_required,location
0,Senior Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
1,Senior Data Scientist,Gojek,6-12 Yrs,Bangalore/Bengaluru
2,Staff Engineer Data Scientist,Infineon Technologies Pvt Ltd,1-3 Yrs,Bangalore/Bengaluru
3,Rolls-Royce Data Labs : Data Scientist,Rolls Royce,3-5 Yrs,Bangalore/Bengaluru
4,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru
5,FTE - Regional BI - Data Scientist,Schneider Electric,3-5 Yrs,Bangalore/Bengaluru
6,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru
8,Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
9,Data Scientist,Optum,2-7 Yrs,Bangalore/Bengaluru